# PROFICIENCY TEST

**Abiyyu Fathin Derian**

**Data Fellowship Batch 6**

-------

## Import Library

In [1]:
# import all required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import skew

-----
## Load Dataset

In [2]:
# Load dataset 2018
df_2018 = pd.read_csv('Dataset/Crime2018.csv', sep = ',')

# Load dataset 2019
df_2019 = pd.read_csv('Dataset/Crime2019.csv', sep = ',')

# Load dataset 2020
df_2020 = pd.read_csv('Dataset/Crime2020.csv', sep = ',')

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [181]:
# Show dataset_2018
df_2018.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192077559,3115,Investigate Person,INVESTIGATE PERSON,B3,468,NaN,2018-04-30 09:00:00,2018,4,Monday,9,Part Three,HAZLETON ST,42.279971,-71.095534,"(42.27997063, -71.09553354)"
1,I192077332,619,Larceny,LARCENY ALL OTHERS,E18,496,NaN,2018-03-06 08:00:00,2018,3,Tuesday,8,Part One,HYDE PARK AVE,42.269224,-71.120853,"(42.26922388, -71.12085347)"
2,I192076660,2629,Harassment,HARASSMENT,E5,662,NaN,2018-10-31 12:00:00,2018,10,Wednesday,12,Part Two,PRIMROSE ST,42.290765,-71.130211,"(42.29076521, -71.13021098)"
3,I192075386,2629,Harassment,HARASSMENT,A1,96,NaN,2018-04-09 08:43:00,2018,4,Monday,8,Part Two,ATLANTIC AVE,42.355264,-71.050988,"(42.35526402, -71.05098788)"
4,I192075335,3208,Property Lost,PROPERTY - MISSING,D4,132,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Three,COMMONWEALTH AVE,42.353522,-71.072838,"(42.35352153, -71.07283786)"

In [182]:
# Show dataset_2019
df_2019.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,950485010,3125,NaN,WARRANT ARREST - BOSTON WARRANT (MUST BE SUPPL...,A7,465,0,2019-11-22 20:40:00,2019,11,Friday,20,NaN,HARBORSIDE DR,42.284826,-71.091374,"(42.2848257658049, -71.091373689388)"
1,212025249,1107,NaN,FRAUD - IMPERSONATION,A1,77,0,2019-12-01 00:00:00,2019,12,Sunday,0,NaN,NASSAU ST,0.000000,0.000000,"(0, 0)"
2,212022744,1107,NaN,FRAUD - IMPERSONATION,C11,355,0,2019-12-31 00:01:00,2019,12,Tuesday,0,NaN,LINDSEY ST,42.297555,-71.059709,"(42.2975553295965, -71.0597091024257)"
3,202007387,801,NaN,ASSAULT - SIMPLE,NaN,28,0,2019-12-24 00:00:00,2019,12,Tuesday,0,NaN,NaN,42.372159,-71.038524,"(42.3721588029014, -71.03852378203)"
4,212016533,1102,NaN,FRAUD - FALSE PRETENSE / SCHEME,C11,355,0,2019-10-09 08:30:00,2019,10,Wednesday,8,NaN,ADAMS ST,42.297555,-71.059709,"(42.2975553295965, -71.0597091024257)"

In [188]:
# Show dataset_2020
df_2020.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,854652314,3115,NaN,INVESTIGATE PERSON,B2,289,0,2020-02-20 00:00:00,2020,2,Thursday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.3336792181085, -71.0918775461846)"
1,457856954,3115,NaN,INVESTIGATE PERSON,B2,289,0,2020-02-21 01:42:00,2020,2,Friday,1,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.3336792181085, -71.0918775461846)"
2,302030654,1106,NaN,FRAUD - CREDIT CARD / ATM FRAUD,D4,167,0,2020-04-24 13:00:00,2020,4,Friday,13,NaN,MASSACHUSETTS AVE,42.339542,-71.069409,"(42.3395419898301, -71.0694087696754)"
3,212025777,1108,NaN,FRAUD - WELFARE,A7,28,0,2020-05-01 00:00:00,2020,5,Friday,0,NaN,TRENTON ST,42.370818,-71.039291,"(42.3708180467024, -71.0392907813515)"
4,212025557,2670,NaN,HARASSMENT/ CRIMINAL HARASSMENT,A1,77,0,2020-09-07 00:00:00,2020,9,Monday,0,NaN,PRINCE ST,42.361839,-71.059765,"(42.3618385665647, -71.0597648909416)"

In [3]:
# Combine all dataset into a single column
df = pd.concat([df_2018, df_2019, df_2020])
df

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192077559,3115,Investigate Person,INVESTIGATE PERSON,B3,468,NaN,2018-04-30 09:00:00,2018,4,Monday,9,Part Three,HAZLETON ST,42.279971,-71.095534,"(42.27997063, -71.09553354)"
1,I192077332,619,Larceny,LARCENY ALL OTHERS,E18,496,NaN,2018-03-06 08:00:00,2018,3,Tuesday,8,Part One,HYDE PARK AVE,42.269224,-71.120853,"(42.26922388, -71.12085347)"
2,I192076660,2629,Harassment,HARASSMENT,E5,662,NaN,2018-10-31 12:00:00,2018,10,Wednesday,12,Part Two,PRIMROSE ST,42.290765,-71.130211,"(42.29076521, -71.13021098)"
3,I192075386,2629,Harassment,HARASSMENT,A1,96,NaN,2018-04-09 08:43:00,2018,4,Monday,8,Part Two,ATLANTIC AVE,42.355264,-71.050988,"(42.35526402, -71.05098788)"
4,I192075335,3208,Property Lost,PROPERTY - MISSING,D4,132,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Three,COMMONWEALTH AVE,42.353522,-71.072838,"(42.35352153, -71.07283786)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70889,20063425,3114,NaN,INVESTIGATE PROPERTY,A7,21,0,2020-09-01 00:00:00,2020,9,Tuesday,0,NaN,PARIS ST,42.374427,-71.035279,"(42.3744269722053, -71.0352787630199)"
70890,20062356,1107,NaN,FRAUD - IMPERSONATION,E18,520,0,2020-08-28 18:39:00,2020,8,Friday,18,NaN,RIVERSIDE SQ,42.256216,-71.124019,"(42.2562159204022, -71.1240194732902)"
70891,20046400,1501,NaN,WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...,B2,330,0,2020-07-02 01:38:00,2020,7,Thursday,1,NaN,PASADENA RD,42.305761,-71.083772,"(42.3057609263196, -71.0837715727385)"
70892,20038446,1501,NaN,WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...,B2,300,0,2020-06-03 01:15:00,2020,6,Wednesday,1,NaN,WASHINGTON ST,42.323808,-71.089150,"(42.3238077563779, -71.0891502345332)"
70893,20030892,540,NaN,BURGLARY - COMMERICAL,C11,380,0,2020-05-03 00:00:00,2020,5,Sunday,0,NaN,GALLIVAN BLVD,42.283700,-71.047761,"(42.2837003080534, -71.0477614298657)"

--------
_______
# NOMOR 3: EXPLORATORY DATA ANALYSIS

------
## Data Understanding

In [274]:
# Check the shape of df
df.shape

(189564, 17)

In [275]:
# Check the info and datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189564 entries, 0 to 70893
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      189564 non-null  object
 1   OFFENSE_CODE         189564 non-null  int64
 2   OFFENSE_CODE_GROUP   98888 non-null   object
 3   OFFENSE_DESCRIPTION  189564 non-null  object
 4   DISTRICT             188527 non-null  object
 5   REPORTING_AREA       189564 non-null  object
 6   SHOOTING             91078 non-null   object
 7   OCCURRED_ON_DATE     189564 non-null  object
 8   YEAR                 189564 non-null  int64
 9   MONTH                189564 non-null  int64
 10  DAY_OF_WEEK          189564 non-null  object
 11  HOUR                 189564 non-null  int64
 12  UCR_PART             98868 non-null   object
 13  STREET               187948 non-null  object
 14  Lat                  183135 non-null  float64
 15  Long                 183135 non-null  float64
 16  Location             189564 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 26.0+ MB

In [276]:
# Check the brief information of basic statistics
df.describe()

,OFFENSE_CODE,YEAR,MONTH,HOUR,Lat,Long
count,189564.000000,189564.000000,189564.000000,189564.000000,183135.000000,1.831350e+05
mean,2330.227607,2018.852324,7.022757,12.928557,41.759070,-7.014292e+01
std,1212.336767,0.934795,3.488644,6.359623,4.856312,8.115174e+00
min,111.000000,2018.000000,1.000000,0.000000,-1.000000,-7.117867e+01
25%,1102.000000,2018.000000,4.000000,9.000000,42.296042,-7.109780e+01
50%,3005.000000,2018.000000,7.000000,14.000000,42.325559,-7.107732e+01
75%,3201.000000,2020.000000,10.000000,18.000000,42.348132,-7.106134e+01
max,99999.000000,2020.000000,12.000000,23.000000,42.395042,5.249691e-08

In [277]:
# Check the total of unique value of each column
df.nunique()

INCIDENT_NUMBER        177410
OFFENSE_CODE              205
OFFENSE_CODE_GROUP         61
OFFENSE_DESCRIPTION       231
DISTRICT                   13
REPORTING_AREA            880
SHOOTING                    3
OCCURRED_ON_DATE       143619
YEAR                        3
MONTH                      12
DAY_OF_WEEK                 7
HOUR                       24
UCR_PART                    4
STREET                  10230
Lat                     26559
Long                    26560
Location                26568
dtype: int64

In [278]:
# Check the value of 'INCIDENT_NUMBER'
df['INCIDENT_NUMBER'].value_counts()

I182051210       14
I182044546       12
I182093742       12
I070720870-00    11
I182037657       10
                 ..
I182013525        1
192083958         1
202015647         1
I182069652        1
202094908         1
Name: INCIDENT_NUMBER, Length: 177410, dtype: int64

In [279]:
# Check the value of 'OFFENSE_CODE'
df['OFFENSE_CODE'].value_counts()

3115     11807
3006     10072
3831      9827
1402      8238
3114      7894
         ...
99999        1
1610         1
1800         1
600          1
1500         1
Name: OFFENSE_CODE, Length: 205, dtype: int64

In [280]:
# Check the value of 'OFFENSE_CODE_GROUP'
df['OFFENSE_CODE_GROUP'].unique()

array(['Investigate Person', 'Larceny', 'Harassment', 'Property Lost',
       'Fraud', 'Auto Theft', 'Counterfeiting', 'Confidence Games',
       'Commercial Burglary', 'Vandalism', 'Other',
       'Missing Person Reported', 'Police Service Incidents',
       'License Plate Related Incidents', 'Residential Burglary',
       'Simple Assault', 'Property Found', 'Larceny From Motor Vehicle',
       'Medical Assistance', 'Motor Vehicle Accident Response',
       'Aggravated Assault', 'Landlord/Tenant Disputes',
       'Investigate Property', 'Auto Theft Recovery',
       'Missing Person Located', 'Embezzlement', 'Violations',
       'Criminal Harassment', 'Disorderly Conduct', 'Warrant Arrests',
       'Other Burglary', 'Restraining Order Violations',
       'Recovered Stolen Property', 'Service', 'Property Related Damage',
       'Robbery', 'Towed', 'Evading Fare', 'License Violation',
       'Verbal Disputes', 'Fire Related Reports', 'Firearm Violations',
       'Search Warrants', 'Operating Under the Influence',
       'Drug Violation', 'Prisoner Related Incidents',
       'Firearm Discovery', 'Ballistics', 'Liquor Violation', 'Homicide',
       'Offenses Against Child / Family', 'Harbor Related Incidents',
       'Arson', 'Assembly or Gathering Violations', 'Bomb Hoax',
       'Aircraft', 'Phone Call Complaints', 'Prostitution',
       'HUMAN TRAFFICKING', 'HOME INVASION', 'Explosives', nan],
      dtype=object)

In [281]:
# Check the value of 'OFFENSE_DESCRIPTION'
df['OFFENSE_DESCRIPTION'].unique()

array(['INVESTIGATE PERSON', 'LARCENY ALL OTHERS', 'HARASSMENT',
       'PROPERTY - MISSING', 'FRAUD - IMPERSONATION', 'AUTO THEFT',
       'FORGERY / COUNTERFEITING', 'FRAUD - CREDIT CARD / ATM FRAUD',
       'BURGLARY - COMMERICAL - NO FORCE',
       'FRAUD - FALSE PRETENSE / SCHEME', 'FRAUD - WIRE',
       'PROPERTY - LOST', 'VANDALISM', 'LARCENY THEFT FROM BUILDING',
       'OTHER OFFENSE', 'MISSING PERSON',
       'SERVICE TO OTHER PD INSIDE OF MA.', 'M/V PLATES - LOST',
       'BURGLARY - RESIDENTIAL - NO FORCE', 'ASSAULT SIMPLE - BATTERY',
       'PROPERTY - FOUND', 'LARCENY THEFT FROM MV - NON-ACCESSORY',
       'LARCENY THEFT OF MV PARTS & ACCESSORIES',
       'SICK/INJURED/MEDICAL - PERSON', 'M/V ACCIDENT - PROPERTY DAMAGE',
       'ASSAULT - AGGRAVATED - BATTERY', 'LANDLORD - TENANT SERVICE',
       'THREATS TO DO BODILY HARM', 'ASSAULT - SIMPLE',
       'M/V - LEAVING SCENE - PROPERTY DAMAGE',
       'M/V - LEAVING SCENE - PERSONAL INJURY',
       'LARCENY THEFT OF BICYCLE', 'INVESTIGATE PROPERTY',
       'EXTORTION OR BLACKMAIL',
       'RECOVERED - MV RECOVERED IN BOSTON (STOLEN OUTSIDE BOSTON)',
       'MISSING PERSON - LOCATED', 'EMBEZZLEMENT',
       'VAL - OPERATING W/O AUTHORIZATION LAWFUL',
       'SICK/INJURED/MEDICAL - POLICE', 'CRIMINAL HARASSMENT',
       'M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY',
       'ANNOYING AND ACCOSTING', 'WARRANT ARREST',
       'BURGLARY - OTHER - NO FORCE', 'PROPERTY - CONCEALING LEASED',
       'AUTO THEFT - LEASED/RENTED VEHICLE',
       'VIOL. OF RESTRAINING ORDER W NO ARREST',
       'SERVICE TO OTHER PD OUTSIDE OF MA.',
       'STOLEN PROPERTY - BUYING / RECEIVING / POSSESSING',
       'LARCENY SHOPLIFTING', 'TRESPASSING',
       'VAL - VIOLATION OF AUTO LAW - OTHER', 'ANIMAL INCIDENTS',
       'PROPERTY - LOST THEN LOCATED', 'BURGLARY - RESIDENTIAL - FORCE',
       'ASSAULT - AGGRAVATED', 'M/V ACCIDENT - OTHER CITY VEHICLE',
       'ANIMAL CONTROL - DOG BITES - ETC.',
       'PROPERTY - ACCIDENTAL DAMAGE', 'OBSCENE MATERIALS - PORNOGRAPHY',
       'BURGLARY - RESIDENTIAL - ATTEMPT',
       'INVESTIGATION FOR ANOTHER AGENCY', 'ROBBERY - STREET',
       'BURGLARY - COMMERICAL - FORCE', 'TOWED MOTOR VEHICLE',
       'M/V ACCIDENT - OTHER', 'VAL - OPERATING WITHOUT LICENSE',
       'EVADING FARE', 'LICENSE PREMISE VIOLATION', 'VERBAL DISPUTE',
       'M/V ACCIDENT - PERSONAL INJURY',
       'FIRE REPORT - HOUSE, BUILDING, ETC.',
       'WEAPON - FIREARM - CARRYING / POSSESSING, ETC', 'GRAFFITI',
       'M/V ACCIDENT - INVOLVING BICYCLE - NO INJURY',
       'WEAPON - FIREARM - OTHER VIOLATION', 'SEARCH WARRANT',
       'WEAPON - OTHER - CARRYING / POSSESSING, ETC',
       'OPERATING UNDER THE INFLUENCE ALCOHOL',
       'VAL - OPERATING AFTER REV/SUSP.',
       'DRUGS - POSS CLASS B - COCAINE, ETC.', 'DEATH INVESTIGATION',
       'FIRE REPORT - CAR, BRUSH, ETC.',
       'VAL - OPERATING UNREG/UNINS CAR',
       'DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP',
       'DRUGS - SALE / MANUFACTURING', 'FUGITIVE FROM JUSTICE',
       'DRUGS - POSS CLASS D - INTENT TO MFR DIST DISP',
       'MISSING PERSON - NOT REPORTED - LOCATED',
       'FIREARM/WEAPON - FOUND OR CONFISCATED',
       'M/V ACCIDENT - INVOLVING PEDESTRIAN - NO INJURY',
       'BALLISTICS EVIDENCE/FOUND', 'BURGLARY - OTHER - FORCE',
       'DISORDERLY CONDUCT', 'ANIMAL ABUSE', 'SUDDEN DEATH',
       'VIOL. OF RESTRAINING ORDER W ARREST',
       'AUTO THEFT - MOTORCYCLE / SCOOTER',
       'POSSESSION OF BURGLARIOUS TOOLS', 'FIRE REPORT/ALARM - FALSE',
       'LARCENY PICK-POCKET',
       'DRUGS - POSS CLASS A - INTENT TO MFR DIST DISP',
       'DRUGS - CLASS B TRAFFICKING OVER 18 GRAMS',
       'DRUGS - CLASS A TRAFFICKING OVER 18 GRAMS',
       'SUICIDE / SUICIDE ATTEMPT', 'ROBBERY - OTHER',
       'ROBBERY - COMMERCIAL', 'DRUGS - POSS CLASS C',
       'LIQUOR - DRINKING IN PUBLIC', 'DRUGS - SICK ASSIST - HEROIN',
       'DRUGS - SICK ASSIST - OTHER NARCOTIC',
       'KIDNAPPING - ENTICING OR ATTEMPTED',
       'DRUGS - POSS CLASS C - INTENT TO MFR DIST DISP',
       'DRUGS - POSS CLASS A - HEROIN, ETC. ',
       'DANGEROUS OR HAZARDOUS CONDITION',
       'M/V ACCIDENT - POLICE VEHICLE',
       'MURDER, NON-NEGLIGIENT MANSLAUGHTER',
       'M/V ACCIDENT - INVOLVING BICYCLE - INJURY', 'CHILD ENDANGERMENT',
       'HARBOR INCIDENT / VIOLATION', 'ARSON', 'DISTURBING THE PEACE',
       'DRUGS - POSS CLASS E', 'PROPERTY - STOLEN THEN RECOVERED',
       'INTIMIDATING WITNESS', 'VIOLATION - CITY ORDINANCE',
       'RECOVERED STOLEN PLATE', 'NOISY PARTY/RADIO-ARREST',
       'LIQUOR LAW VIOLATION', 'DRUGS - OTHER',
       'BURGLARY - OTHER - ATTEMPT', 'REPORT AFFECTING OTHER DEPTS.',
       'CHILD ENDANGERMENT (NO ASSAULT)', 'DEMONSTRATIONS/RIOT',
       'KIDNAPPING/CUSTODIAL KIDNAPPING',
       'WEAPON - OTHER - OTHER VIOLATION', 'DRUGS - POSS CLASS D',
       'STALKING', 'ROBBERY - BANK', 'NOISY PARTY/RADIO-NO ARREST',
       'LARCENY PURSE SNATCH - NO FORCE ',
       'DRUGS - SICK ASSIST - OTHER HARMFUL DRUG', 'BOMB THREAT',
       'DRUGS - POSS CLASS E - INTENT TO MFR DIST DISP',
       'AIRCRAFT INCIDENTS', 'OBSCENE PHONE CALLS',
       'BURGLARY - COMMERICAL - ATTEMPT', 'PROSTITUTION - SOLICITING',
       'DRUGS - POSSESSION OF DRUG PARAPHANALIA',
       'OPERATING UNDER THE INFLUENCE DRUGS',
       'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS',
       'CONSPIRACY EXCEPT DRUG LAW', 'AFFRAY', 'ROBBERY - CAR JACKING',
       'DRUGS - POSSESSION', 'PROSTITUTION - COMMON NIGHTWALKER',
       'DRUGS - CONSP TO VIOL CONTROLLED SUBSTANCE',
       'ROBBERY - HOME INVASION', 'VIOLATION - HAWKER AND PEDDLER',
       'PROSTITUTION', 'PROTECTIVE CUSTODY / SAFEKEEPING',
       'CHILD ABANDONMENT (NO ASSAULT)', 'INJURY BICYCLE NO M/V INVOLVED',
       'TRUANCY / RUNAWAY', 'HOME INVASION',
       'DRUGS - CLASS D TRAFFICKING OVER 50 GRAMS',
       'FIREARM/WEAPON - LOST',
       'VIOLATION - CITY ORDINANCE CONSTRUCTION PERMIT',
       'PROSTITUTION - ASSISTING OR PROMOTING',
       'LARCENY THEFT FROM COIN-OP MACHINE',
       'FIREARM/WEAPON - ACCIDENTAL INJURY / DEATH',
       'EXPLOSIVES - TURNED IN OR FOUND', 'CHINS',
       'EXPLOSIVES - POSSESSION OR USE', 'FRAUD - WELFARE',
       'WEAPON - FIREARM - SALE / TRAFFICKING',
       'PRISONER ESCAPE / ESCAPE & RECAPTURE',
       'GATHERING CAUSING ANNOYANCE',
       'CONTRIBUTING TO DELINQUENCY OF MINOR',
       'PRISONER - SUICIDE / SUICIDE ATTEMPT', 'ABDUCTION - INTICING',
       'ROBBERY - UNARMED - CHAIN STORE',
       'LARCENY IN A BUILDING UNDER $50', 'ASSAULT & BATTERY',
       'DRUGS - POSS CLASS D - INTENT MFR DIST DISP',
       'WARRANT ARREST - BOSTON WARRANT (MUST BE SUPPLEMENTAL)',
       'HARASSMENT/ CRIMINAL HARASSMENT', 'SICK ASSIST', 'ROBBERY',
       'PROPERTY - LOST/ MISSING', 'BURGLARY - RESIDENTIAL',
       'BURGLARY - COMMERICAL',
       'M/V ACCIDENT - INVOLVING PEDESTRIAN - INJURY',
       'LANDLORD - TENANT', 'VAL - VIOLATION OF AUTO LAW',
       'SERVICE TO OTHER AGENCY',
       'VIOLATION - RESTRAINING ORDER (NO ARREST)',
       'WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TRAFFICKING/ OTHER',
       'FIRE REPORT', 'SICK ASSIST - DRUG RELATED ILLNESS',
       'LIQUOR/ALCOHOL - DRINKING IN PUBLIC',
       'DRUGS - POSSESSION/ SALE/ MANUFACTURING/ USE',
       'WARRANT ARREST - OUTSIDE OF BOSTON WARRANT',
       'OPERATING UNDER THE INFLUENCE (OUI) ALCOHOL',
       'ANIMAL INCIDENTS (DOG BITES, LOST DOG, ETC)',
       'BREAKING AND ENTERING (B&E) MOTOR VEHICLE (NO PROPERTY STOLEN)',
       'VIOLATION - HARASSMENT PREVENTION ORDER',
       'BREAKING AND ENTERING (B&E) MOTOR VEHICLE',
       'DISTURBING THE PEACE/ DISORDERLY CONDUCT/ GATHERING CAUSING ANNOYANCE/ NOISY PAR',
       'LARCENY PURSE SNATCH - NO FORCE',
       'KIDNAPPING/CUSTODIAL KIDNAPPING/ ABDUCTION',
       'CHILD REQUIRING ASSISTANCE (FOMERLY CHINS)',
       'RECOVERED - MV RECOVERED IN BOSTON (STOLEN IN BOSTON) MUST BE SUPPLEMENTAL',
       'OPERATING UNDER THE INFLUENCE (OUI) DRUGS', 'DRUNKENNESS',
       'Migrated Report - Investigate Property',
       'Migrated Report - Investigate Person',
       'Migrated Report - Other Part III',
       'Migrated Report - Vandalism/Destruction of Property',
       'Migrated Report - Motor Vehicle Crash',
       'Migrated Report - Burglary/Breaking and Entering',
       'Migrated Report - Aggravated Assault/Aggravated Assault & Battery',
       'Migrated Report - Other Larceny',
       'Migrated Report - Weapons Violation',
       'Migrated Report - Assault/Assault & Battery',
       'Migrated Report - Robbery',
       'Migrated Report - Auto Law Violation',
       'Migrated Report - Other Part II',
       'Migrated Report - Drugs - Possession/Manufacturing/Distribute',
       'Evidence Tracker Incidents', 'Justifiable Homicide'], dtype=object)

In [282]:
# Check the number of all district DISTRICT
df['DISTRICT'].value_counts()

B2          28934
C11         24345
D4          24312
B3          21477
A1          20467
C6          14391
D14         12239
E18         10875
E13         10714
E5           8639
A7           7703
A15          4111
External      320
Name: DISTRICT, dtype: int64

In [283]:
# Check the value of 'REPORTING_AREA'
df['REPORTING_AREA'].unique()

array(['468', '496', '662', '96', '132', '668', '458', '278', '170',
       '257', '396', '455', '572', '107', '220', '791', '307', '128',
       '943', '176', '319', '28', '794', '261', '435', '379', '428',
       '729', '469', '287', '381', '239', '45', '265', '250', '481',
       '552', '778', '439', '23', '808', '493', '543', '237', ' ', '786',
       '419', '7', '61', '389', '374', '289', '72', '50', '8', '785',
       '936', '478', '441', '339', '123', '413', '33', '348', '900',
       '183', '545', '450', '349', '581', '131', '761', '516', '127',
       '495', '221', '330', '344', '40', '398', '357', '227', '143',
       '174', '657', '363', '707', '916', '822', '314', '421', '335',
       '523', '901', '593', '111', '299', '788', '41', '445', '373', '22',
       '938', '570', '355', '564', '356', '154', '594', '725', '814',
       '602', '653', '754', '908', '125', '792', '207', '611', '309',
       '178', '280', '329', '347', '256', '202', '385', '77', '796',
       '433', '437', '166', '102', '519', '522', '464', '286', '470',
       '804', '453', '282', '436', '655', '510', '501', '316', '550',
       '120', '824', '525', '182', '755', '776', '620', '503', '397',
       '134', '485', '180', '85', '582', '16', '206', '327', '21', '692',
       '462', '334', '563', '431', '67', '343', '961', '393', '121',
       '267', '313', '768', '905', '388', '12', '63', '79', '623', '337',
       '498', '230', '601', '233', '93', '350', '569', '266', '630',
       '204', '186', '73', '476', '615', '807', '562', '165', '360',
       '341', '294', '146', '449', '199', '815', '460', '305', '402',
       '619', '682', '222', '51', '759', '175', '614', '740', '303',
       '560', '751', '537', '409', '124', '332', '803', '529', '542',
       '756', '365', '457', '499', '92', '336', '167', '149', '395',
       '710', '608', '486', '138', '254', '173', '588', '484', '456',
       '793', '187', '518', '427', '160', '361', '115', '191', '340',
       '60', '483', '386', '155', '444', '616', '133', '271', '342',
       '171', '613', '114', '103', '264', '234', '144', '434', '767',
       '26', '145', '535', '417', '429', '728', '610', '645', '584',
       '200', '298', '517', '162', '11', '530', '911', '539', '81', '205',
       '703', '312', '317', '333', '784', '367', '291', '578', '151',
       '801', '38', '184', '821', '308', '648', '446', '137', '533',
       '362', '903', '117', '627', '129', '736', '248', '816', '91',
       '432', '713', '113', '94', '528', '315', '451', '54', '193', '301',
       '773', '640', '30', '598', '235', '494', '62', '806', '605', '797',
       '727', '475', '914', '461', '587', '546', '194', '156', '366',
       '810', '561', '628', '779', '423', '465', '70', '644', '255',
       '624', '912', '208', '288', '260', '416', '741', '80', '579',
       '459', '14', '109', '758', '466', '24', '534', '65', '752', '352',
       '325', '318', '75', '262', '168', '311', '228', '17', '270', '326',
       '748', '285', '372', '179', '547', '941', '621', '626', '274',
       '130', '800', '64', '944', '555', '795', '479', '276', '90', '502',
       '273', '553', '354', '565', '798', '382', '418', '551', '422',
       '714', '942', '116', '639', '69', '153', '691', '913', '641',
       '259', '322', '181', '410', '243', '377', '68', '770', '694',
       '394', '809', '448', '76', '268', '84', '213', '556', '110', '960',
       '139', '652', '351', '27', '56', '606', '415', '716', '338', '66',
       '219', '952', '211', '281', '279', '573', '215', '240', '802',
       '408', '112', '508', '684', '775', '757', '58', '53', '236', '229',
       '331', '141', '29', '512', '225', '147', '214', '368', '52', '442',
       '603', '59', '939', '697', '292', '324', '364', '438', '430',
       '618', '304', '370', '709', '3', '940', '951', '811', '297', '635',
       '915', '633', '188', '157', '414', '771', '604', '97', '642',
       '105', '463', '750', '492', '300', '83', '177', '454', '358',
       '712', '474', '106', '812', '25', '472', '576', '345', '925',
       '392', '244', '383', '443', '189', '679', '609', '2', '426', '258',
       '406', '906', '473', '44', '643', '321', '152', '452', '577',
       '574', '89', '507', '520', '328', '612', '407', '86', '805', '923',
       '95', '216', '681', '424', '766', '101', '119', '411', '247',
       '586', '246', '310', '212', '172', '629', '799', '378', '774',
       '57', '420', '6', '253', '401', '724', '760', '104', '359', '31',
       '544', '566', '195', '718', '263', '245', '150', '490', '384',
       '142', '732', '956', '164', '491', '918', '559', '932', '480',
       '541', '948', '482', '910', '375', '238', '907', '823', '78',
       '126', '405', '231', '780', '403', '726', '136', '930', '696',
       '296', '769', '687', '680', '284', '597', '646', '440', '595',
       '346', '249', '34', '783', '241', '548', '513', '163', '98', '425',
       '306', '19', '99', '549', '527', '37', '88', '532', '762', '772',
       '765', '720', '295', '224', '571', '20', '958', '201', '781',
       '159', '118', '505', '583', '169', '489', '87', '634', '55', '656',
       '369', '387', '504', '500', '558', '674', '488', '74', '575',
       '135', '735', '637', '192', '100', '789', '320', '209', '660',
       '638', '521', '664', '158', '673', '711', '631', '293', '715',
       '242', '353', '622', '904', '600', '223', '733', '676', '790',
       '902', '524', '817', '376', '585', '226', '467', '323', '704',
       '651', '511', '506', '290', '140', '15', '526', '749', '390', '10',
       '591', '13', '568', '4', '400', '677', '203', '957', '777', '926',
       '592', '658', '554', '196', '695', '43', '540', '722', '636',
       '497', '667', '232', '49', '617', '252', '108', '654', '625',
       '283', '487', '782', '813', '122', '36', '272', '596', '700',
       '683', '672', '649', '731', '217', '302', '412', '590', '509',
       '730', '698', '161', '744', '35', '82', '9', '945', '675', '685',
       '764', '954', '946', '650', '210', '743', '197', '924', '557',
       '920', '269', '922', '567', '820', '148', '47', '688', '607',
       '734', '917', '514', '477', '185', '721', '706', '599', '32',
       '670', '693', '737', '953', '723', '447', '48', '399', '18', '42',
       '275', '949', '702', '933', '763', '404', '46', '661', '5', '647',
       '380', '536', '962', '71', '935', '515', '471', '959', '689',
       '909', '39', '719', '671', '738', '753', '717', '705', '000',
       '531', '686', '589', '251', '919', '819', '927', '669', '538',
       '825', '277', '1', '218', '787', '739', '632', '742', '746', '391',
       '937', '701', '747', '921', '818', '708', '665', '745', '699',
       '678', '690', '663', '666', '190', '659'], dtype=object)

In [284]:
# Check the number of all 'SHOOTING'
df['SHOOTING'].value_counts()

0    89358
1     1318
Y      402
Name: SHOOTING, dtype: int64

In [285]:
# Check the number of all 'UCR_PART'
df['UCR_PART'].value_counts()

Part Three    51068
Part Two      29382
Part One      18005
Other           413
Name: UCR_PART, dtype: int64

In [286]:
# Check the value of 'STREET'
df['STREET'].value_counts()

WASHINGTON ST                                           8790
BLUE HILL AVE                                           4209
BOYLSTON ST                                             3606
TREMONT ST                                              2906
DORCHESTER AVE                                          2817
                                                        ...
TOWNSEND ST & HUMBOLDT AVE\nBOSTON  MA 02121\nUNITED       1
SOUTHAMPTON ST & MASSACHUSETTS AVE\nROXBURY  MA 021        1
SEAVER ST & COLUMBIA RD\nDORCHESTER  MA 02121\nUNITE       1
OLD RD & GLENWAY ST\nDORCHESTER  MA 02121\nUNITED ST       1
CHESTERTON ST & ALLERTON ST\nBOSTON  MA 02119\nUNITE       1
Name: STREET, Length: 10230, dtype: int64

In [287]:
# Check the value of 'Lat'
df['Lat'].value_counts()

42.297555    3188
42.339542    2723
42.328663    2438
42.361839    2182
0.000000     2100
             ...
42.363422       1
42.291515       1
42.291069       1
42.335803       1
42.345550       1
Name: Lat, Length: 26559, dtype: int64

In [288]:
# Check the value of 'Long'
df['Long'].value_counts()

-71.059709    3188
-71.069409    2723
-71.085634    2438
-71.059765    2182
 0.000000     2100
              ...
-71.070023       1
-71.136639       1
-71.087907       1
-71.046665       1
-71.076998       1
Name: Long, Length: 26560, dtype: int64

In [289]:
# Check the value of 'Location'
df['Location'].value_counts()

(0.00000000, 0.00000000)                 6429
(42.2975553295965, -71.0597091024257)    3188
(42.3395419898301, -71.0694087696754)    2723
(42.3286628355561, -71.0856340118355)    2438
(42.3618385665647, -71.0597648909416)    2182
                                         ...
(42.28292959, -71.13061443)                 1
(42.27325660, -71.06409836)                 1
(42.38722996, -71.00768134)                 1
(42.2717219702803, -71.1118889536762)       1
(42.27813999, -71.14248382)                 1
Name: Location, Length: 26568, dtype: int64

In [290]:
# Check the duplicated value of each column
duplicated_col = df[df[['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP', 'OFFENSE_DESCRIPTION', 'DISTRICT',
                        'REPORTING_AREA', 'SHOOTING', 'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR',
                        'UCR_PART', 'STREET', 'Lat', 'Long', 'Location']].duplicated()]
duplicated_col.count()

INCIDENT_NUMBER        161
OFFENSE_CODE           161
OFFENSE_CODE_GROUP     161
OFFENSE_DESCRIPTION    161
DISTRICT               161
REPORTING_AREA         161
SHOOTING                83
OCCURRED_ON_DATE       161
YEAR                   161
MONTH                  161
DAY_OF_WEEK            161
HOUR                   161
UCR_PART               161
STREET                 156
Lat                    153
Long                   153
Location               161
dtype: int64

In [291]:
# Check the total missing value of each column
df.isna().sum()

INCIDENT_NUMBER            0
OFFENSE_CODE               0
OFFENSE_CODE_GROUP     90676
OFFENSE_DESCRIPTION        0
DISTRICT                1037
REPORTING_AREA             0
SHOOTING               98486
OCCURRED_ON_DATE           0
YEAR                       0
MONTH                      0
DAY_OF_WEEK                0
HOUR                       0
UCR_PART               90696
STREET                  1616
Lat                     6429
Long                    6429
Location                   0
dtype: int64

### Convert all ' ' into NaN

In [4]:
# Convert the value
df = df.replace(' ', np.nan)

In [5]:
# Convert the value
df = df.replace('', np.nan)

### Recheck the NaN

In [294]:
# Check the total missing value of each column
df.isna().sum()

INCIDENT_NUMBER            0
OFFENSE_CODE               0
OFFENSE_CODE_GROUP     90676
OFFENSE_DESCRIPTION        0
DISTRICT                1037
REPORTING_AREA         18176
SHOOTING               98486
OCCURRED_ON_DATE           0
YEAR                       0
MONTH                      0
DAY_OF_WEEK                0
HOUR                       0
UCR_PART               90696
STREET                  1616
Lat                     6429
Long                    6429
Location                   0
dtype: int64

### Check the skewness

In [6]:
# Check the skewness of the columns that have missing value
skew(df['YEAR'].dropna())

0.2970881569764498

In [7]:
# Check the skewness of the columns that have missing value
skew(df['MONTH'].dropna())

-0.21709393316821196

In [8]:
# Check the skewness of the columns that have missing value
skew(df['HOUR'].dropna())

-0.4763271853379488

-------
## Data Preprocessing

### 'INCIDENT_NUMBER'
Because there are several incident number that is wrong format, I will drop them.

In [9]:
# Get only the right format of 'INCIDENT_NUMBER'
df_IN_10 = df[(df['INCIDENT_NUMBER'].astype(str).map(len) == 10)]
df_IN_10

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192077559,3115,Investigate Person,INVESTIGATE PERSON,B3,468,NaN,2018-04-30 09:00:00,2018,4,Monday,9,Part Three,HAZLETON ST,42.279971,-71.095534,"(42.27997063, -71.09553354)"
1,I192077332,619,Larceny,LARCENY ALL OTHERS,E18,496,NaN,2018-03-06 08:00:00,2018,3,Tuesday,8,Part One,HYDE PARK AVE,42.269224,-71.120853,"(42.26922388, -71.12085347)"
2,I192076660,2629,Harassment,HARASSMENT,E5,662,NaN,2018-10-31 12:00:00,2018,10,Wednesday,12,Part Two,PRIMROSE ST,42.290765,-71.130211,"(42.29076521, -71.13021098)"
3,I192075386,2629,Harassment,HARASSMENT,A1,96,NaN,2018-04-09 08:43:00,2018,4,Monday,8,Part Two,ATLANTIC AVE,42.355264,-71.050988,"(42.35526402, -71.05098788)"
4,I192075335,3208,Property Lost,PROPERTY - MISSING,D4,132,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Three,COMMONWEALTH AVE,42.353522,-71.072838,"(42.35352153, -71.07283786)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98854,I152058257,3125,Warrant Arrests,WARRANT ARREST,B2,282,NaN,2018-11-28 12:15:00,2018,11,Wednesday,12,Part Three,WARREN ST,42.328234,-71.083290,"(42.32823419, -71.08328981)"
98855,I152058257,1849,Drug Violation,"DRUGS - POSS CLASS B - COCAINE, ETC.",B2,282,NaN,2018-11-28 12:15:00,2018,11,Wednesday,12,Part Two,WARREN ST,42.328234,-71.083290,"(42.32823419, -71.08328981)"
98856,I152049494,3109,Police Service Incidents,SERVICE TO OTHER PD INSIDE OF MA.,C6,196,NaN,2018-03-12 11:00:00,2018,3,Monday,11,Part Three,OLD COLONY AVE,42.335811,-71.055754,"(42.33581104, -71.05575441)"
98857,I152049494,3125,Warrant Arrests,WARRANT ARREST,C6,196,NaN,2018-03-12 11:00:00,2018,3,Monday,11,Part Three,OLD COLONY AVE,42.335811,-71.055754,"(42.33581104, -71.05575441)"
98858,I152049494,614,Larceny From Motor Vehicle,LARCENY THEFT FROM MV - NON-ACCESSORY,C6,196,NaN,2018-03-12 11:00:00,2018,3,Monday,11,Part One,OLD COLONY AVE,42.335811,-71.055754,"(42.33581104, -71.05575441)"

In [10]:
# Replace 'I' into '' in 'INCIDENT_NUMBER'
df_IN_10 = df[(df['INCIDENT_NUMBER'].astype(str).map(len) == 10)]
df_IN_10['INCIDENT_NUMBER'] = df_IN_10['INCIDENT_NUMBER'].str.replace('I', '')
df_IN_10['INCIDENT_NUMBER']

<ipython-input-10-577b17563b21>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IN_10['INCIDENT_NUMBER'] = df_IN_10['INCIDENT_NUMBER'].str.replace('I', '')

0        192077559
1        192077332
2        192076660
3        192075386
4        192075335
           ...
98854    152058257
98855    152058257
98856    152049494
98857    152049494
98858    152049494
Name: INCIDENT_NUMBER, Length: 98859, dtype: object

In [11]:
# Get only the right format of 'INCIDENT_NUMBER'
df_IN_9 = df[(df['INCIDENT_NUMBER'].astype(str).map(len) == 9)]
df_IN_9

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,950485010,3125,NaN,WARRANT ARREST - BOSTON WARRANT (MUST BE SUPPL...,A7,465,0,2019-11-22 20:40:00,2019,11,Friday,20,NaN,HARBORSIDE DR,42.284826,-71.091374,"(42.2848257658049, -71.091373689388)"
1,212025249,1107,NaN,FRAUD - IMPERSONATION,A1,77,0,2019-12-01 00:00:00,2019,12,Sunday,0,NaN,NASSAU ST,0.000000,0.000000,"(0, 0)"
2,212022744,1107,NaN,FRAUD - IMPERSONATION,C11,355,0,2019-12-31 00:01:00,2019,12,Tuesday,0,NaN,LINDSEY ST,42.297555,-71.059709,"(42.2975553295965, -71.0597091024257)"
3,202007387,801,NaN,ASSAULT - SIMPLE,NaN,28,0,2019-12-24 00:00:00,2019,12,Tuesday,0,NaN,NaN,42.372159,-71.038524,"(42.3721588029014, -71.03852378203)"
4,212016533,1102,NaN,FRAUD - FALSE PRETENSE / SCHEME,C11,355,0,2019-10-09 08:30:00,2019,10,Wednesday,8,NaN,ADAMS ST,42.297555,-71.059709,"(42.2975553295965, -71.0597091024257)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70882,122043183,2610,NaN,TRESPASSING,C11,360,0,2020-06-20 09:30:00,2020,6,Saturday,9,NaN,CENTERVALE PARK,42.296323,-71.063569,"(42.2963228215293, -71.0635688117803)"
70883,122031190,3006,NaN,SICK/INJURED/MEDICAL - PERSON,NaN,336,0,2020-05-04 12:15:00,2020,5,Monday,12,NaN,BOWDOIN ST,0.000000,0.000000,"(0, 0)"
70884,120200885,614,NaN,LARCENY THEFT FROM MV - NON-ACCESSORY,B3,465,0,2020-02-02 10:30:00,2020,2,Sunday,10,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.2848257658049, -71.091373689388)"
70885,120200242,3115,NaN,INVESTIGATE PERSON,D4,167,0,2020-01-05 00:00:00,2020,1,Sunday,0,NaN,BOYLSTON ST,42.339542,-71.069409,"(42.3395419898301, -71.0694087696754)"
70886,120200013,2403,NaN,DISTURBING THE PEACE/ DISORDERLY CONDUCT/ GATH...,A1,84,0,2020-01-01 01:02:00,2020,1,Wednesday,1,NaN,HANOVER ST,42.364168,-71.054070,"(42.364167810862, -71.0540704075518)"

In [12]:
# Combine the used columns
df = pd.concat([df_IN_10, df_IN_9])
df.shape

(189518, 17)

In [13]:
# Check the 'INCIDENT_NUMBER' that has no numeric value
df[df['INCIDENT_NUMBER'].str.isnumeric() == False]

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
6916,192096-46,3830,NaN,M/V - LEAVING SCENE - PERSONAL INJURY,B2,612,0,2019-11-27 14:15:00,2019,11,Wednesday,14,NaN,FRANCIS ST & VINING ST\nROXBURY MA 02115\nUNI...,42.335831,-71.107452,"(42.3358310201583, -71.1074520341415)"
466,2020I6851,1402,NaN,VANDALISM,D14,752,0,2020-03-07 00:00:00,2020,3,Saturday,0,NaN,N CRESCENT CIRT,42.349176,-71.167563,"(42.3491759761129, -71.1675625052456)"

In [14]:
# Drop the 'INCIDENT_NUMBER' that has no numeric value
df.drop(df[df['INCIDENT_NUMBER'].str.isnumeric() == False].index, inplace = True)
df.shape

(189512, 17)

In [15]:
# Drop all duplicated values and keep last for 'INCIDENT_NUMBER'
df = df.drop_duplicates(subset = ['INCIDENT_NUMBER'], keep = 'last')

# Convert datatype of 'INCIDENT_NUMBER' into int
df['INCIDENT_NUMBER'] = df['INCIDENT_NUMBER'].astype('int')
df['INCIDENT_NUMBER'].dtypes
df.shape

(177379, 17)

### 'REPORTING_AREA'

Because the data of 'REPORTING_AREA' is ordinal, then we will impute the missing value with mode

In [16]:
# Impute missing value
df['REPORTING_AREA'] = df['REPORTING_AREA'].fillna(df['REPORTING_AREA'].mode().iloc[0])
df['REPORTING_AREA'].isna().sum()

0

In [17]:
# Convert the datatype
df['REPORTING_AREA'] = df['REPORTING_AREA'].astype(int)
df['REPORTING_AREA'].dtypes

dtype('int64')

### 'SHOOTING'

We will convert the 'Y' into 1, and NaN into 0.

In [18]:
# Convert 'Y' into 1
df['SHOOTING'] = df['SHOOTING'].replace('Y', 1)
df['SHOOTING'].unique()

array([nan,  1.,  0.])

In [19]:
# Convert NaN into 0
df['SHOOTING'] = df['SHOOTING'].replace(np.nan, 0)
df['SHOOTING'].unique()

array([0., 1.])

In [20]:
# Convert the datatype
df['SHOOTING'] = df['SHOOTING'].astype(int)
df['SHOOTING'].dtypes

dtype('int64')

### 'OCCURRED_ON_DATE'

In [21]:
# Convert the datatype into datetime
df['OCCURRED_ON_DATE'] = pd.to_datetime(df['OCCURRED_ON_DATE'])
df['OCCURRED_ON_DATE'].dtypes

dtype('<M8[ns]')

In [22]:
# Get the only time
df['TIME'] = [d.time() for d in df['OCCURRED_ON_DATE']]
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,TIME
0,192077559,3115,Investigate Person,INVESTIGATE PERSON,B3,468,0,2018-04-30 09:00:00,2018,4,Monday,9,Part Three,HAZLETON ST,42.279971,-71.095534,"(42.27997063, -71.09553354)",09:00:00
1,192077332,619,Larceny,LARCENY ALL OTHERS,E18,496,0,2018-03-06 08:00:00,2018,3,Tuesday,8,Part One,HYDE PARK AVE,42.269224,-71.120853,"(42.26922388, -71.12085347)",08:00:00
2,192076660,2629,Harassment,HARASSMENT,E5,662,0,2018-10-31 12:00:00,2018,10,Wednesday,12,Part Two,PRIMROSE ST,42.290765,-71.130211,"(42.29076521, -71.13021098)",12:00:00
3,192075386,2629,Harassment,HARASSMENT,A1,96,0,2018-04-09 08:43:00,2018,4,Monday,8,Part Two,ATLANTIC AVE,42.355264,-71.050988,"(42.35526402, -71.05098788)",08:43:00
4,192075335,3208,Property Lost,PROPERTY - MISSING,D4,132,0,2018-01-01 00:00:00,2018,1,Monday,0,Part Three,COMMONWEALTH AVE,42.353522,-71.072838,"(42.35352153, -71.07283786)",00:00:00

In [23]:
# Get the only date
df['OCCURRED_ON_DATE'] = [d.date() for d in df['OCCURRED_ON_DATE']]
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,TIME
0,192077559,3115,Investigate Person,INVESTIGATE PERSON,B3,468,0,2018-04-30,2018,4,Monday,9,Part Three,HAZLETON ST,42.279971,-71.095534,"(42.27997063, -71.09553354)",09:00:00
1,192077332,619,Larceny,LARCENY ALL OTHERS,E18,496,0,2018-03-06,2018,3,Tuesday,8,Part One,HYDE PARK AVE,42.269224,-71.120853,"(42.26922388, -71.12085347)",08:00:00
2,192076660,2629,Harassment,HARASSMENT,E5,662,0,2018-10-31,2018,10,Wednesday,12,Part Two,PRIMROSE ST,42.290765,-71.130211,"(42.29076521, -71.13021098)",12:00:00
3,192075386,2629,Harassment,HARASSMENT,A1,96,0,2018-04-09,2018,4,Monday,8,Part Two,ATLANTIC AVE,42.355264,-71.050988,"(42.35526402, -71.05098788)",08:43:00
4,192075335,3208,Property Lost,PROPERTY - MISSING,D4,132,0,2018-01-01,2018,1,Monday,0,Part Three,COMMONWEALTH AVE,42.353522,-71.072838,"(42.35352153, -71.07283786)",00:00:00

### 'YEAR'

In [24]:
# Convert the datatype
df['YEAR'] = df['YEAR'].astype(int)
df['YEAR'].dtypes

dtype('int64')

### 'MONTH'

In [25]:
# Convert the datatype
df['MONTH'] = df['MONTH'].astype(int)
df['MONTH'].dtypes

dtype('int64')

### 'HOUR'

In [26]:
# Convert the datatype
df['HOUR'] = df['HOUR'].astype(int)
df['HOUR'].dtypes

dtype('int64')

### 'UCR_PART'

In [27]:
# Impute missing value
df['UCR_PART'] = df['UCR_PART'].fillna(df['UCR_PART'].mode().iloc[0])
df['UCR_PART'].isna().sum()

0

In [28]:
# Convert the value into numerical 
df['UCR_PART'] = df['UCR_PART'].replace('Part One', 1)

In [29]:
# Convert the value into numerical 
df['UCR_PART'] = df['UCR_PART'].replace('Part Two', 2)

In [30]:
# Convert the value into numerical 
df['UCR_PART'] = df['UCR_PART'].replace('Part Three', 3)

In [31]:
# Delete Other Part 
df.drop(df[df['UCR_PART'] == 'Other'].index, inplace = True)

In [32]:
# Chek the value
df['UCR_PART'].unique()

array([3, 1, 2], dtype=object)

### 'Lat' & 'Long'

In [33]:
# Replace -1 values in Lat/Long with Nan
df['Lat'].replace(-1, None, inplace = True)
df['Long'].replace(-1, None, inplace = True)

In [34]:
# Drop the 0,0 0.000000
df.drop(df[df['Lat'] == 0.0].index, inplace = True)
df.drop(df[df['Long'] == 0.0].index, inplace = True)

In [35]:
# Convert the value with Interpolation due to the continues data
df['Lat'] = df['Lat'].interpolate(method = "linear")
df['Lat'].isna().any()

False

In [36]:
# Convert the value with Interpolation due to the continues data
df['Long'] = df['Long'].interpolate(method = "linear")
df['Long'].isna().any()

False

In [37]:
#Check the outlier from the 'Lat'
Q1 = df['Lat'].quantile(0.25)
Q3 = df['Lat'].quantile(0.75)
IQR = Q3 - Q1
Outlier = 1.5 * IQR
df = df[df['Lat'] <= Q3 + Outlier]
df = df[df['Lat'] >= Q1 - Outlier]
df

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,TIME
0,192077559,3115,Investigate Person,INVESTIGATE PERSON,B3,468,0,2018-04-30,2018,4,Monday,9,3,HAZLETON ST,42.279971,-71.095534,"(42.27997063, -71.09553354)",09:00:00
2,192076660,2629,Harassment,HARASSMENT,E5,662,0,2018-10-31,2018,10,Wednesday,12,2,PRIMROSE ST,42.290765,-71.130211,"(42.29076521, -71.13021098)",12:00:00
3,192075386,2629,Harassment,HARASSMENT,A1,96,0,2018-04-09,2018,4,Monday,8,2,ATLANTIC AVE,42.355264,-71.050988,"(42.35526402, -71.05098788)",08:43:00
4,192075335,3208,Property Lost,PROPERTY - MISSING,D4,132,0,2018-01-01,2018,1,Monday,0,3,COMMONWEALTH AVE,42.353522,-71.072838,"(42.35352153, -71.07283786)",00:00:00
7,192074715,2629,Harassment,HARASSMENT,B2,278,0,2018-01-01,2018,1,Monday,0,2,HARRISON AVE,42.331538,-71.080157,"(42.33153805, -71.08015661)",00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70879,192059632,3125,NaN,WARRANT ARREST - BOSTON WARRANT (MUST BE SUPPL...,D4,355,0,2020-02-23,2020,2,Sunday,16,3,MASSACHUSETTS AVE & ALBANY ST\nBOSTON MA 0211...,42.333496,-71.073388,"(42.3334960161939, -71.073387954796)",16:54:00
70882,122043183,2610,NaN,TRESPASSING,C11,360,0,2020-06-20,2020,6,Saturday,9,3,CENTERVALE PARK,42.296323,-71.063569,"(42.2963228215293, -71.0635688117803)",09:30:00
70884,120200885,614,NaN,LARCENY THEFT FROM MV - NON-ACCESSORY,B3,465,0,2020-02-02,2020,2,Sunday,10,3,BLUE HILL AVE,42.284826,-71.091374,"(42.2848257658049, -71.091373689388)",10:30:00
70885,120200242,3115,NaN,INVESTIGATE PERSON,D4,167,0,2020-01-05,2020,1,Sunday,0,3,BOYLSTON ST,42.339542,-71.069409,"(42.3395419898301, -71.0694087696754)",00:00:00
70886,120200013,2403,NaN,DISTURBING THE PEACE/ DISORDERLY CONDUCT/ GATH...,A1,84,0,2020-01-01,2020,1,Wednesday,1,3,HANOVER ST,42.364168,-71.054070,"(42.364167810862, -71.0540704075518)",01:02:00

In [38]:
#Check the outlier from the 'Long'
Q1 = df['Long'].quantile(0.25)
Q3 = df['Long'].quantile(0.75)
IQR = Q3 - Q1
Outlier = 1.5 * IQR
df = df[df['Long'] <= Q3 + Outlier]
df = df[df['Long'] >= Q1 - Outlier]
df

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,TIME
0,192077559,3115,Investigate Person,INVESTIGATE PERSON,B3,468,0,2018-04-30,2018,4,Monday,9,3,HAZLETON ST,42.279971,-71.095534,"(42.27997063, -71.09553354)",09:00:00
2,192076660,2629,Harassment,HARASSMENT,E5,662,0,2018-10-31,2018,10,Wednesday,12,2,PRIMROSE ST,42.290765,-71.130211,"(42.29076521, -71.13021098)",12:00:00
3,192075386,2629,Harassment,HARASSMENT,A1,96,0,2018-04-09,2018,4,Monday,8,2,ATLANTIC AVE,42.355264,-71.050988,"(42.35526402, -71.05098788)",08:43:00
4,192075335,3208,Property Lost,PROPERTY - MISSING,D4,132,0,2018-01-01,2018,1,Monday,0,3,COMMONWEALTH AVE,42.353522,-71.072838,"(42.35352153, -71.07283786)",00:00:00
7,192074715,2629,Harassment,HARASSMENT,B2,278,0,2018-01-01,2018,1,Monday,0,2,HARRISON AVE,42.331538,-71.080157,"(42.33153805, -71.08015661)",00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70879,192059632,3125,NaN,WARRANT ARREST - BOSTON WARRANT (MUST BE SUPPL...,D4,355,0,2020-02-23,2020,2,Sunday,16,3,MASSACHUSETTS AVE & ALBANY ST\nBOSTON MA 0211...,42.333496,-71.073388,"(42.3334960161939, -71.073387954796)",16:54:00
70882,122043183,2610,NaN,TRESPASSING,C11,360,0,2020-06-20,2020,6,Saturday,9,3,CENTERVALE PARK,42.296323,-71.063569,"(42.2963228215293, -71.0635688117803)",09:30:00
70884,120200885,614,NaN,LARCENY THEFT FROM MV - NON-ACCESSORY,B3,465,0,2020-02-02,2020,2,Sunday,10,3,BLUE HILL AVE,42.284826,-71.091374,"(42.2848257658049, -71.091373689388)",10:30:00
70885,120200242,3115,NaN,INVESTIGATE PERSON,D4,167,0,2020-01-05,2020,1,Sunday,0,3,BOYLSTON ST,42.339542,-71.069409,"(42.3395419898301, -71.0694087696754)",00:00:00
70886,120200013,2403,NaN,DISTURBING THE PEACE/ DISORDERLY CONDUCT/ GATH...,A1,84,0,2020-01-01,2020,1,Wednesday,1,3,HANOVER ST,42.364168,-71.054070,"(42.364167810862, -71.0540704075518)",01:02:00

### 'OFFENSE_CODE_GROUP'

In [39]:
# Impute missing value
df['OFFENSE_CODE_GROUP'] = df['OFFENSE_CODE_GROUP'].fillna(df['OFFENSE_CODE_GROUP'].mode().iloc[0])
df['OFFENSE_CODE_GROUP'].isna().sum()

0

### 'DISTRICT'

In [40]:
# Impute missing value
df['DISTRICT'] = df['DISTRICT'].fillna(df['DISTRICT'].mode().iloc[0])
df['DISTRICT'].isna().sum()

0

### 'STREET'

In [41]:
# Impute missing value
df['STREET'] = df['STREET'].fillna(df['STREET'].mode().iloc[0])
df['STREET'].isna().sum()

0

### 'DAY_OF_WEEK'

In [42]:
# Create categorical data for the day
df['DAY_OF_WEEK'] = pd.Categorical(df['DAY_OF_WEEK'], 
                                     categories = ['Monday','Tuesday','Wednesday','Thursday','Friday',
                                                   'Saturday','Sunday'], ordered = True)

### Delete the unnecassary columns

In [43]:
# Drop the column
df = df.drop(['INCIDENT_NUMBER', 'OFFENSE_DESCRIPTION', 'Location'], axis = 1)

### Recheck the Missing Value and the Shape of df

In [44]:
# Check missing value
df.isna().sum()

OFFENSE_CODE          0
OFFENSE_CODE_GROUP    0
DISTRICT              0
REPORTING_AREA        0
SHOOTING              0
OCCURRED_ON_DATE      0
YEAR                  0
MONTH                 0
DAY_OF_WEEK           0
HOUR                  0
UCR_PART              0
STREET                0
Lat                   0
Long                  0
TIME                  0
dtype: int64

In [45]:
# Check the shape of df
df.shape

(167285, 15)

In [46]:
# Export the df
df.to_csv('df_fix.csv')
df

,OFFENSE_CODE,OFFENSE_CODE_GROUP,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,TIME
0,3115,Investigate Person,B3,468,0,2018-04-30,2018,4,Monday,9,3,HAZLETON ST,42.279971,-71.095534,09:00:00
2,2629,Harassment,E5,662,0,2018-10-31,2018,10,Wednesday,12,2,PRIMROSE ST,42.290765,-71.130211,12:00:00
3,2629,Harassment,A1,96,0,2018-04-09,2018,4,Monday,8,2,ATLANTIC AVE,42.355264,-71.050988,08:43:00
4,3208,Property Lost,D4,132,0,2018-01-01,2018,1,Monday,0,3,COMMONWEALTH AVE,42.353522,-71.072838,00:00:00
7,2629,Harassment,B2,278,0,2018-01-01,2018,1,Monday,0,2,HARRISON AVE,42.331538,-71.080157,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70879,3125,Motor Vehicle Accident Response,D4,355,0,2020-02-23,2020,2,Sunday,16,3,MASSACHUSETTS AVE & ALBANY ST\nBOSTON MA 0211...,42.333496,-71.073388,16:54:00
70882,2610,Motor Vehicle Accident Response,C11,360,0,2020-06-20,2020,6,Saturday,9,3,CENTERVALE PARK,42.296323,-71.063569,09:30:00
70884,614,Motor Vehicle Accident Response,B3,465,0,2020-02-02,2020,2,Sunday,10,3,BLUE HILL AVE,42.284826,-71.091374,10:30:00
70885,3115,Motor Vehicle Accident Response,D4,167,0,2020-01-05,2020,1,Sunday,0,3,BOYLSTON ST,42.339542,-71.069409,00:00:00
70886,2403,Motor Vehicle Accident Response,A1,84,0,2020-01-01,2020,1,Wednesday,1,3,HANOVER ST,42.364168,-71.054070,01:02:00

-----
_____
# NOMOR 6: MACHINE LEARNING

## Modelling & Evaluation

In [47]:
# Check info of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167285 entries, 0 to 70886
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   OFFENSE_CODE        167285 non-null  int64
 1   OFFENSE_CODE_GROUP  167285 non-null  object
 2   DISTRICT            167285 non-null  object
 3   REPORTING_AREA      167285 non-null  int64
 4   SHOOTING            167285 non-null  int64
 5   OCCURRED_ON_DATE    167285 non-null  object
 6   YEAR                167285 non-null  int64
 7   MONTH               167285 non-null  int64
 8   DAY_OF_WEEK         167285 non-null  category
 9   HOUR                167285 non-null  int64
 10  UCR_PART            167285 non-null  object
 11  STREET              167285 non-null  object
 12  Lat                 167285 non-null  float64
 13  Long                167285 non-null  float64
 14  TIME                167285 non-null  object
dtypes: category(1), float64(2), int64(6), object(6)
memory usage: 19.3+ MB

In [70]:
# Import library
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [49]:
# Encode the data
le1 = LabelEncoder()
df['OFFENSE_CODE_GROUP_N'] = le1.fit_transform(df['OFFENSE_CODE_GROUP'])
df['DISTRICT_N'] = le1.fit_transform(df['DISTRICT'])
df['DAY_OF_WEEK_N'] = le1.fit_transform(df['DAY_OF_WEEK'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167285 entries, 0 to 70886
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   OFFENSE_CODE          167285 non-null  int64
 1   OFFENSE_CODE_GROUP    167285 non-null  object
 2   DISTRICT              167285 non-null  object
 3   REPORTING_AREA        167285 non-null  int64
 4   SHOOTING              167285 non-null  int64
 5   OCCURRED_ON_DATE      167285 non-null  object
 6   YEAR                  167285 non-null  int64
 7   MONTH                 167285 non-null  int64
 8   DAY_OF_WEEK           167285 non-null  category
 9   HOUR                  167285 non-null  int64
 10  UCR_PART              167285 non-null  object
 11  STREET                167285 non-null  object
 12  Lat                   167285 non-null  float64
 13  Long                  167285 non-null  float64
 14  TIME                  167285 non-null  object
 15  OFFENSE_CODE_GROUP_N  167285 non-null  int64
 16  DISTRICT_N            167285 non-null  int64
 17  DAY_OF_WEEK_N         167285 non-null  int64
dtypes: category(1), float64(2), int64(9), object(6)
memory usage: 23.1+ MB

In [50]:
# Assignment of the X as the independant variable and Y as the dependant variable
X = df[['OFFENSE_CODE_GROUP_N', 'MONTH', 'DISTRICT_N', 'DAY_OF_WEEK_N']]
y = df['HOUR']

In [51]:
# Divide datsaet into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size = 0.3, 
                                                    random_state = 10)

In [52]:
# Import the library of Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor

# initialize the model
model = RandomForestRegressor(random_state = 15, n_estimators = 200)

# fit the model
model.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=15)

In [75]:
# Predict the Y value
y_predict = model.predict(X_test)
y_predict

array([13.06519171, 13.05778933, 11.26720563, ..., 12.80374878,
       10.74531898, 12.89510702])

In [76]:
# Evaluate the model
r2_score(y_test, y_predict)

-0.08374411930309789

## Prediction

Seorang detektif bernama Shinichi Kudo diberikan tugas untuk melakukan investigasi kejahatan vandalism di district D14. Kejahatan tersebut terjadi di minggu lalu pada hari Kamis bulan Juni. Kira-kira jam berapakah kejahatan itu dilakukan?

In [80]:
# input the dependant variable
X_coba = [[1402, 6, 7, 4]]
 
# Create the pandas DataFrame
X_coba = pd.DataFrame(X_coba, columns = ['OFFENSE_CODE_GROUP_N', 
                                         'MONTH', 
                                         'DISTRICT_N', 
                                         'DAY_OF_WEEK_N'])
 
# print dataframe
X_coba

   OFFENSE_CODE_GROUP_N  MONTH  DISTRICT_N  DAY_OF_WEEK_N
0                  1402      6           7              4

In [81]:
#  make a prediction
y_coba = model.predict(X_coba)
y_coba

array([10.53713095])

In [79]:
df[df['DISTRICT'] == 'D14']

,OFFENSE_CODE,OFFENSE_CODE_GROUP,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,TIME,OFFENSE_CODE_GROUP_N,DISTRICT_N,DAY_OF_WEEK_N
15,1001,Counterfeiting,D14,791,0,2018-09-20,2018,9,Thursday,12,2,ALLSTON ST,42.343674,-71.141385,12:00:00,8,7,4
22,1107,Fraud,D14,794,0,2018-01-01,2018,1,Monday,0,2,GLENVILLE AVE,42.349780,-71.134230,00:00:00,18,7,1
41,522,Residential Burglary,D14,778,0,2018-08-05,2018,8,Sunday,1,1,SPARHAWK ST,42.351477,-71.151435,01:00:00,47,7,3
44,1001,Counterfeiting,D14,808,0,2018-11-07,2018,11,Wednesday,11,2,ANTWERP ST,42.358830,-71.140327,11:00:00,8,7,6
113,3207,Property Found,D14,788,0,2018-12-15,2018,12,Saturday,23,3,SUTHERLAND RD,42.339018,-71.149043,23:00:00,42,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70731,801,Motor Vehicle Accident Response,D14,795,0,2020-01-01,2020,1,Wednesday,7,3,IMRIE RD,42.352635,-71.138854,07:27:00,34,7,6
70735,1402,Motor Vehicle Accident Response,D14,790,0,2020-01-01,2020,1,Wednesday,6,3,BEACON ST,42.336267,-71.149503,06:19:00,34,7,6
70760,2101,Motor Vehicle Accident Response,D14,355,0,2020-01-01,2020,1,Wednesday,2,3,N HARVARD ST & CAMBRIDGE ST\nBRIGHTON MA 0213...,42.357951,-71.126487,02:31:00,34,7,6
70769,301,Motor Vehicle Accident Response,D14,355,0,2020-01-01,2020,1,Wednesday,1,3,COMMONWEALTH AVE,42.350740,-71.130479,01:40:00,34,7,6
70853,3115,Motor Vehicle Accident Response,D14,796,0,2020-02-27,2020,2,Thursday,0,3,COMMONWEALTH AVE,42.351242,-71.126169,00:45:00,34,7,4

___
----
# NOMOR 5: PYTHON

## Nomor 1
Sebutkan distrik mana (A/B/C/D/E, tanpa nomor) yang memiliki angka tindak kriminal yang paling tinggi!

In [87]:
# Separate numeric and letter
df['DISTRICT_LET'] = df['DISTRICT'].str.extract('([A-Z]+)', expand=True)

# Replace the 'External' into 'E'
df['DISTRICT_LET'] = df['DISTRICT_LET'].str.replace('External', 'E')

# Answee the question
df['DISTRICT_LET'].value_counts().reset_index(name = 'counts')

In [91]:
# Answee the question
df['DISTRICT_LET'].value_counts().reset_index(name = 'counts')

  index  counts
0     B   45935
1     C   34962
2     D   31440
3     A   28809
4     E   26139

## Nomor 2
Sebutkan 3 jenis tindak kriminal yang terjadi pada tahun 2020 namun tidak terjadi di tahun 2019!

In [ ]:
'''
# Get the df_2020
df_2020 = df[df['YEAR'] == 2020]
df_2020

# Get the df_2019
df_2019 = df[df['YEAR'] == 2019]
df_2019


# check if data is not in 2019
df_p = []
if df_2020['OFFENSE_CODE_GROUP'].values not in df_2019['OFFENSE_CODE_GROUP'].values:
    df_p.append(df_2020['OFFENSE_CODE_GROUP'].values)
type(df_p) 

# Convert into DataFrame
df_2020['L'] = pd.DataFrame(df_p)
df_2020['L']
'''

<ipython-input-128-2f59a066206d>:12: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  if df_2020['OFFENSE_CODE_GROUP'].values not in df_2019['OFFENSE_CODE_GROUP'].values:

## Nomor 3
Apakah kelompok tindak kriminal yang paling banyak terjadi pada minggu ke 40-45?

In [ ]:
# Get the week of year
df['WEEK'] = [d.time() for d in df['OCCURRED_ON_DATE']]

# Get the week from 40-45
df3 = df[(df['WEEK'] == 40) | (df['WEEK'] == 41) | 
         (df['WEEK'] == 42) | (df['WEEK'] == 43) | 
         (df['WEEK'] == 44) | (df['WEEK'] == 45)]

# Answer the question
df3['WEEK'].value_counts().reset_index(name = 'counts')

## Nomor 4
Sebutkan nama distrik (A/B/C/D/E, tanpa nomor) yang memiliki jumlah tindak kriminal terkecil di akhir pekan!

In [ ]:
# Get the weekend
df4 = df[(df['DAY_OF_WEEK_N'] == 0) | (df['DAY_OF_WEEK_N'] == 6)]

# Answee the question
df4['DISTRICT_LET'].value_counts().sort_values().reset_index(name = 'counts')

## Nomor 5

Sebutkan nama distrik (A/B/C/D/E, tanpa nomor) yang memiliki jumlah tindak kriminal terbanyak di hari kerja!

In [ ]:
# Get the weekdays
df5 = df[(df['DAY_OF_WEEK_N'] != 0) | (df['DAY_OF_WEEK_N'] != 6)]

# Answee the question
df5['DISTRICT_LET'].value_counts().reset_index(name = 'counts')